<header>
    <h1>I am header</h1>
</header>

<main>
    <section>
        <article>
            <h2>article title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa pariatur architecto autem nemo, omnis voluptatum est itaque voluptatibus, repudiandae ipsam eos, ea quibusdam recusandae dignissimos praesentium deserunt minima quis.</p>
        </article>

        <article>
            <h2>article title that is longer</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa pariatur architecto autem nemo, omnis voluptatum est itaque voluptatibus, repudiandae ipsam eos, ea quibusdam recusandae dignissimos praesentium deserunt minima quis.</p>
        </article>

        <article>
            <h2>article title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa pariatur architecto autem nemo, omnis voluptatum est itaque voluptatibus, repudiandae ipsam eos, ea quibusdam recusandae dignissimos praesentium deserunt minima quis.</p>
        </article>

        <article>
            <h2>article title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa pariatur architecto autem nemo, omnis voluptatum est itaque voluptatibus, repudiandae ipsam eos, ea quibusdam recusandae dignissimos praesentium deserunt minima quis.</p>
        </article>

        <article>
            <h2>article title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa pariatur architecto autem nemo, omnis voluptatum est itaque voluptatibus, repudiandae ipsam eos, ea quibusdam recusandae dignissimos praesentium deserunt minima quis.</p>
        </article>
        <article>
            <h2>article title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa pariatur architecto autem nemo, omnis voluptatum est itaque voluptatibus, repudiandae ipsam eos, ea quibusdam recusandae dignissimos praesentium deserunt minima quis.</p>
        </article>

        <article>
            <h2>article title</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa pariatur architecto autem nemo, omnis voluptatum est itaque voluptatibus, repudiandae ipsam eos, ea quibusdam recusandae dignissimos praesentium deserunt minima quis.</p>
        </article>

        <article>
            <h2>article is longer</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa pariatur architecto autem nemo, omnis voluptatum est itaque voluptatibus, repudiandae ipsam eos, ea quibusdam recusandae dignissimos praesentium deserunt minima quis.</p>
        </article>
    </section>
</main>

<footer>
    <h1>I am footer</h1>
</footer>