.content {
  background: white;
  padding: 3rem;
}


body {
  position: relative;  
  padding: 3rem;
  /* background-attachment: fixed; */

  &::after {
    z-index: -1;
    display: block;
    inset: 0;
    position: absolute;
    content: "";
    background: linear-gradient(red, green);
    background-repeat: no-repeat;  
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}