<select name="" class="theme">
	<option value="one">One</option>
	<option value="two">Two</option>
	<option value="three">Three</option>
</select>
<!-- <header>
  <div>
    <h1><a href="/"> Andrew JD Hudson </a></h1>
    <nav>
      <ul>
        <li><a href="/about"> About </a></li>
        <li><a href="/blog"> Blog </a></li>
        <li><a href="/cv"> CV </a></li>
      </ul>
    </nav>
  </div>
</header> --> 
<main> 
	<div class="intro">
		<p>
			I'm Andrew and I am a senior front-end software engineer based in Grenoble,
			France.
		</p>
		<p>
			This site was created with Zed and strong black coffee, with Astro as the
			framework of choice with a bit of Svelte (for the bookshelf) but mostly
			vanilla html and css using markdown to write the blog posts and articles.
		</p>
	</div>
	<h2>Latest Blog Posts</h2>

	<ol>
		<li><a href="#one">one</a></li>
		<li><a href="#two">two</a></li>
		<li><a href="#three">three</a></li>
		<li><a href="#four">four</a></li>
		<li><a href="#five">five</a></li>
		<li><a href="#six">six</a></li>
		<li><a href="#seven">seven</a></li>
		<li><a href="#eight">eight</a></li>
		<li><a href="#nine">nine</a></li>
	</ol>

	<div class="blog-posts">
		<article id="one">
			<header>
				<h2>
					Experimenting on the bleeding edge in Chrome Canary with command line
					Feature Flags
				</h2>
				<div>Tuesday, 13 May 2025</div>
				<div>347</div>
			</header>
		</article>
		<article id="two">
			<header>
				<h2>Displaying CSS variables in CSS Content</h2>
				<div>Tuesday, 06 May 2025</div>
				<div>346</div>
			</header>
		</article>
		<article id="three">
			<header>
				<h2>Getting in the way of writing</h2>
				<div>Friday, 18 April 2025</div>
				<div>345</div>
			</header>
		</article>
		<article id="four">
			<header>
				<h2>Good Friday not Celebrated in France</h2>
				<div>Friday, 18 April 2025</div>
				<div>344</div>
			</header>
		</article>
		<article id="five">
			<header>
				<h2>Big Two Cyclocross 2024-25</h2>
				<div>Saturday, 21 December 2024</div>
				<div>343</div>
			</header>
		</article>
		<article id="six">
			<header>
				<h2>How to Group View Transitions</h2>
				<div>Friday, 20 December 2024</div>
				<div>342</div>
			</header>
		</article>
		<article id="seven">
			<header>
				<h2>This Week I learned</h2>
				<div>Thursday, 21 November 2024</div>
				<div>341</div>
			</header>
		</article>
		<article id="eight">
			<header>
				<h2>Cool demos I created in june 2024</h2>
				<div>Thursday, 04 July 2024</div>
				<div>340</div>
			</header>
		</article>
		<article id="nine">
			<header>
				<h2>Big Three Cyclocross 2023-24</h2>
				<div>Sunday, 10 December 2023</div>
				<div>339</div>
			</header>
		</article>
	</div>
	<a href="/blog"> See more posts &rarr; </a>
</main>