.box {
  background: white;
  aspect-ratio: 1;
  height: 500px;
}

body {
  background: orangered;
  padding: 3rem;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}