<div class="support">
    <p>Your Browser currently does not support CSS inline if(). Please try in Chrome Canary.</p>
</div>


<div class="light-dark dark">dark</div>

<div class="light-dark light">light</div>

<div class="resizer">
    <div class="second">
        some text
    </div>
</div>
