<section>
  <article class="benefit">
    <!-- <img src="/resilient.svg" />  -->
    <h2>Resilient and responsible design practices.</h2>
    <p>
      In a world of corporate creativity frameworks and dogmatic shills,
      empowerment is diluted and design is commoditised. Mindful Design is a
      toolkit, not a framework, and helps you thrive in the all-too-common chaos
      of modern design.
    </p>
  </article>
  <article class="benefit">
    <!-- <img src="/newsletter.svg" /> -->
    <h2>Own your early stage design</h2>
    <p>
      Built from decades of professional design wins, fails, and fuck-ups,
      Mindful Design doubles down on what works, discards what doesn't, and
      presents a lean, digestible—yet remarkably thorough—set of tools,
      workshops and approaches to nailing early stage design.
    </p>
  </article>
  <article class="benefit">
    <!-- <img src="/macbook.svg" /> -->
    <h2>From idea to shipped, and beyond.</h2>
    <p>
      We don't do pie in the sky, nor do we do infinite-budget creative
      masturbation sessions. Mindful Design is rooted in pragmatism and
      practicality, ensuring the skills you'll learn and hone will make you an
      Actually Hireable Designer™.
    </p>
  </article>
</section>
